

$font-family: Helvetica,Arial,sans-serif;

$color-primary:  #006400;    // dark green


$color-link-hover: yellow;

$color-programlisting-border:       #bbb;
$color-programlisting-background:   #f3f3f3;



