---
# note: this front matter ensures Jekyll converts the scss into css
---


@import 'settings';

body {
  font-family:  $font-family;
}


/*
h1 {
  border-bottom: 1px solid black;
}
*/


h2 {
  border-bottom: 1px solid black;
  font-weight: bold;
}


ul { list-style-type: square; }

span.highlight { background-color: yellow;
                 font-weight: bold;
               }

a {
    color: $color-primary;
    text-decoration: none;

  &:visited {
    color: $color-primary;
  }

  &:hover {
    // border-bottom: 2px dotted $color-primary;
    background-color: $color-link-hover;
  }
}



#header {
   padding: 0.25em;

  .small {
    font-size: 120%;
    color: gray;
    padding-left: 15px;
  }

  .big {
    font-size: 200%;
    font-weight: bold;
  }
}

#nav {
  padding: 0.5em;
}

#content {
  padding: 0.5em;
}


/* fix: use javascript?? jquery to add .programlisting class
  to pre tags followed by code e.g. <pre><code> => <pre class='programlisting'><code>

   for now assume all pres are programlistings
*/ 
pre,
.programlisting
{
  padding:       4px 4px 4px 4px;
  border-top:    $color-programlisting-border 1px solid;
  border-bottom: $color-programlisting-border 1px solid;
  background-color: $color-programlisting-background;
}


//////////////////////////////////
// move to _announce partial for reuse

.announce {
  background-color: $color-primary; // red;
  color: white;
  font-size: 18px;
  padding: 8px 8px 4px 8px; /* top right bottom left */
  margin: 6px 0 6px 0; /* top right bottom left */
  border: 1px solid $color-primary;

  a {
    color: white;
    text-decoration: underline; // none;
    &:visited {
      color: white;
      text-decoration: underline; // none;
    }
    &:hover {
      color: $color-primary; // red;
      background-color: white;
    }
  }
}

///////////////////////////////////////////
// move to _banner partial for reuse

.banner {
  color: white;
  background-color: #333333;
  font-size: 12px;
  padding: 6px 6px 4px 8px;
  margin: 0 0 8px 0; }

  .banner a,
  .banner a:visited {
    text-decoration: none;
    color: white;
    background-color: #333333; }
    .banner a:hover {
      text-decoration: underline; }



@import 'gallery';
@import 'cards';
