[submodule "snippets"]
	path = _snippets
	url = https://github.com/planetjekyll/snippets.git
[submodule "themes"]
	path = _data/themes
	url = https://github.com/planetjekyll/themes.git
[submodule "links"]
	path = _data/links
	url = https://github.com/planetjekyll/links.git
